body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #6F7678;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.container {
	border: 1px solid #e2e2e2;
	padding: 24px;
	height: 474px;
	width: 328px;
}

.snippet-container {
	padding-bottom: 15px;
	border-bottom: 1px solid #e2e2e2;
}

.rate {
	font-size: x-large;
	font-weight: bold;
	margin: 0px 5px 0px 0px;
}

.full,
.half,
.none {
    width: 15px;
    height: 15px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
}

.full {
	background-image: url(./img/full.png);
}

.half {
	background-image: url(./img/half.png);
}

.none {
	background-image: url(./img/none.png);
}

.ratings-count {
	padding-left: 5px;
}

.details-container {
	padding: 15px 0px 15px 0px;
}

.promo-container {
	padding-top: 15px;
	border-top: 1px solid #e2e2e2;
	align-items: flex-start;
}

.promo-details {
	float: left;
}

.catchphrase {
	font-size: 12pt;
	font-weight: bold;
	line-height: 2;
}

.unleashed-icon {
	height: 50px;
	width: 100px;
	float: right;
	background-image: url(./img/unleashed.png);
	background-size: 100px 50px;
}

.fetch-icon {
	height: 70px;
	width: 70px;
	float: right;
	background-image: url(./img/fetch.png);
	background-size: 65px 70px;
}
