
.row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.container {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 10pt;
	color: #6f7678;
	border: 1px solid #e2e2e2;
	padding: 24px;
	width: 328px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.snippet-container {
	padding-bottom: 15px;
	border-bottom: 1px solid #e2e2e2;
}

.rate {
	font-size: x-large;
	font-weight: bolder;
	margin: 0px 5px 5px 0px;
}

.full,
.half,
.none {
    width: 15px;
    height: 15px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
}

.full {
	background-image: url(./img/full.png);
}

.half {
	background-image: url(./img/half.png);
}

.none {
	background-image: url(./img/none.png);
}

.ratings-count {
	padding-left: 5px;
}

.details-container {
	padding: 15px 0px 15px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.heading {
	font-weight: bold;
	padding: 5px 0px 5px 0px;
}

.date-select-container {
  width:100%;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  margin-bottom: 10px;
}

.calendar-dropdown-button {
  float:left;
  height: 40px;
  padding-left: 10px;
  width: 40%;
  border: 0px;
  background-color: white;
  color: #6F7678;
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
}

.calendar-dropdown-arrow {
	float:left;
	height: 36px;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar-dropdown-button:focus{
  background-color: #97e7ed;
  color: #43898e;
}

.dates-panel {
  width:288px;
  padding: 20px;
  background-color: white;
  border: 1px solid #e2e2e2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar-container {
  display:flex;
  justify-content: center;
}

.nav-container {
  width: 256px;
  position: absolute;
}

.prev-month-button,
.next-month-button {
  height: 36px;
  width: 36px;
  border: 1px solid  #e2e2e2;
  border-radius: 5px;
  background-color: white;
  color:#555555;
  font-weight: bold;
  text-align: center;
}

.prev-month-button:hover,
.next-month-button:hover {
  border-color:#555555;
}

.prev-month-button {
  float:left;
}

.next-month-button{
  float:right;
}
.month-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.month-header {
  font-size: 1.25em;
  font-style: bold;
  text-align: center;
  color: #555555;
  padding-top:10px;
  padding-bottom: 20px;
}
.week-header {
  display:grid;
  grid-template-columns: repeat(7, 37px [col-start]); 
  color: #e2e2e2;
  font-size: 0.8em;
  justify-items: center;
}

.month-grid {
  display:grid;
  grid-template-columns: repeat(7, 36px [col-start]);
  grid-template-rows: repeat(6, 36px [row-start]);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.cell {
  height: 36px;
  width: 36px;
}

.day {
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85em;
  font-weight:bold;
}

.unavailable-date {
  pointer-events: none;
  text-decoration: line-through;
  color: #e2e2e2;
}

.available-date {
  color: #555555;
}
.available-date:hover {
  background-color: #e2e2e2;
}

.selected-date {
  pointer-events: none;
  color: white;
  background-color: #178690;
}

.in-range-date {
  background-color: #d3fcff;
  color: white;
}
.calendar-footer {
	width: 100%;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.clear-dates-button {
	border: 0px;
	background-color: white;
	color: #178690;
	font-weight: bold;
}

.guests-dropdown-button {
	width: 100%;
	height: 40px;
	padding: 0px 10px 0px 10px;
	border: 1px solid #e2e2e2;
	border-radius: 2px;
}

.dropdown-content {
	justify-content: space-between;
  font-size: 16px;
	font-weight:lighter;
  color: #6F7678;
}

.guests-panel {
	width: 288px;
  position: absolute;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  padding: 20px;
}

.guest-entry {
	width: 100%;
	height: 60px;
	justify-content: space-between;
	font-size: 12pt;
	font-weight:lighter;
	color: #555555;
}

.guest-number {
	width: 40%;
	text-align: center;
}

.increase-guest-button,
.decrease-guest-button {
	width: 32px;
	height: 32px;
	border: 1px solid #178690;
	border-radius: 50px;
	font-size: 10pt;
    color: #178690;
    text-align: center;
}

.increase-guest-button:active,
.decrease-guest-button:active {
	color: white;
	background-color: #178690;
}

.increase-guest-button:disabled,
.decrease-guest-button:disabled {
	color: #e2e2e2;
	border-color: #e2e2e2;
}

.guests-constraints-info {
	font-size: 10pt;
	font-weight: lighter;
	margin-bottom: 10px;
	margin-top: 10px;
}

.close-button {
	color: #178690;
	font-size: 10pt;
	border: 0px;
	float: right;
}

.summary-container {
	margin: 10px;
	width: 300px;
	padding: 10px;
	align-self: center;
	color: #8c8c8c;;
}

.summary {
	padding: 2px;
	font-size: 8pt;
	font-weight: lighter;
	height: 25px;
	justify-content: space-between;
}

.summary3 {
	padding-top: 2px;
	font-weight: bold;
	border-top: 2px solid #e2e2e2;
}

.book-button {
	width: 100%;
	height: 44px;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	color: white;
	background-color: #FF5A5F;
	font-size: 14px;
}


.promo-container {
	color: #6f7678;;
	padding-top: 15px;
	border-top: 1px solid #e2e2e2;
	align-items: flex-start;
}

.promo-details {
	float: left;
}

.catchphrase {
	font-size: 12pt;
	font-weight: bold;
	line-height: 2;
}

.unleashed-icon {
	height: 50px;
	width: 100px;
	float: right;
	background-image: url(./img/unleashed.png);
	background-size: 100px 50px;
}

.fetch-icon {
	height: 70px;
	width: 70px;
	float: right;
	background-image: url(./img/fetch.png);
	background-size: 65px 70px;
}

